<div class="col-12">
  <div class="card-columns">
    <app-service-card
      *ngFor= "let service of services; let i = index;"
      [service]= "service"
      [typeView]= "typeView"
      [serviceForm]= "serviceForm">
    </app-service-card>
  </div>
</div>
