<div class="col-12">
  <form (ngSubmit)="f.form.valid && updateService()" #f="ngForm" novalidate>
    <h3>Servicio Detalle</h3>
    <div class="form-group">
      <label for="exampleInputEmail1">Nombre</label>
      <input type="email"
        class="form-control"
        [(ngModel)]="service.name"
        name="nameService"
        [ngClass]="{ 'is-invalid': f.submitted && nameService.invalid }"
        #nameService="ngModel"
        required>
      <div *ngIf="f.submitted && nameService.invalid" class="invalid-feedback">
          <div *ngIf="nameService.errors.required">Es necesario ingresar el nombre del servicio</div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Descripcion</label>
      <textarea type="password"
        class="form-control"
        [(ngModel)]="service.desc"
         name="desc"
         [ngClass]="{ 'is-invalid': f.submitted && desc.invalid }"
         #desc="ngModel"
         required></textarea>
      <div *ngIf="f.submitted && desc.invalid" class="invalid-feedback">
          <div *ngIf="desc.errors.required">Es necesario agregar una descripcion</div>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Tipo</label>
      <select id=""
        class="form-control"
        [(ngModel)]="service.type"
        name="type"
        [ngClass]="{ 'is-invalid': f.submitted && type.invalid }"
        #type="ngModel"
        required>
        <option value="Hogar">Hogar</option>
        <option value="Salud">Salud</option>
        <option value="Autos">Autos</option>
      </select>
      <div *ngIf="f.submitted && type.invalid" class="invalid-feedback">
          <div *ngIf="type.errors.required">Es necesario seleccionar el tipo</div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-sm" type="submit" [disabled]="!selectedName">Actualizar</button>
  </form>
</div>
