<div class="card animated fadeIn fast">
  <div class="card-body">
    <h5 class="card-title">{{ service.name }}</h5>
    <p class="card-text">{{ service.desc }}</p>
    <p class="card-text"><small class="text-muted">{{ service.type }}</small></p>
    <div class="row">
      <div class="col-md-5">
        <button class="btn btn-outline-primary" (click)="showService(service.name)">
          Editar
        </button>
      </div>
      <div class="col-5">
        <button class="btn btn-outline-danger" (click)="deleteService(service.name)">
          Eliminar
        </button>
      </div>
    </div>
  </div>
</div>
