<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" href="#" [routerLink]="['home']" >Todos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"  [routerLinkActive]="'active'">
        <a class="nav-link" href="#" [routerLink]="['servicios', 'autos']">Autos</a>
      </li>
      <li class="nav-item"  [routerLinkActive]="'active'">
        <a class="nav-link" href="#" [routerLink]="['servicios', 'salud']">Salud</a>
      </li>
      <li class="nav-item"  [routerLinkActive]="'active'">
        <a class="nav-link" href="#" [routerLink]="['servicios', 'hogar']">Hogar</a>
      </li>
    </ul>
  </div>
</nav>
