<div class="jumbotron jumbotron-fluid animated fadeIn fast">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Servicios</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-9">
        <app-services-list [serviceForm]="serviceForm"></app-services-list>
      </div>
      <div class="col-3">
        <app-service-form #serviceForm></app-service-form>
      </div>
    </div>
  </div>
</div>
